<div class="col-lg-3 col-md-3 hidden-sm hidden-xs">
</div>

<div class="col-lg-6 col-md-6 col-sm-10 col-xs-12">
  <div class="posts">
    <% @posts.each do |post| %>
    <article class="post well">
      <h2><%= link_to post.title, user_post_path(post.user, post) %></h2>
      <p>By: <%= post.user.username %></p>
      <% if (post.summaries[0]) %>
      <h3>TL:DR/ <%= post.summaries[0].summary %></h3>
      <% else %>
      <h4></h4>
      <% end %>
      
    </article>
    <% end %>
  </div>
</div>

<div class="col-lg-3 col-md-3 hidden-sm hidden-xs">
</div>
